<h1>Form</h1>
<%= form_for :static, url: root_path do |f| %>

<%= f.label :id, 'User ID' %>
<%= f.text_field :id, class: 'form-control' %>
<%= f.submit 'Search', class: 'btn btn-primary' %>

<% end %>