<h1>Awesome Flickr App</h1>


  <photos page="1" pages="1" perpage="100" total="4">
    <photo id="24814367063" owner="140657115@N04" secret="2e6871edd6" server="1617" farm="2" title="IMG_1157" ispublic="1" isfriend="0" isfamily="0" />
    <photo id="25441072295" owner="140657115@N04" secret="108d2d212c" server="1649" farm="2" title="IMG_1154" ispublic="1" isfriend="0" isfamily="0" />
    <photo id="25348125921" owner="140657115@N04" secret="95692eb133" server="1517" farm="2" title="IMG_1084" ispublic="1" isfriend="0" isfamily="0" />
    <photo id="24810458444" owner="140657115@N04" secret="e64d523855" server="1680" farm="2" title="IMG_1081" ispublic="1" isfriend="0" isfamily="0" />
  </photos>
